.gallery {
  max-width: 400px;
  display: block;
  object-fit: contain;
  background-color: grey;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
